footer
  div.content
    div.content-item
      div.label 關於我們
      p 全國廢核行動平台：2013 年 3 月 9 日的全國廢核大遊行，北中南東共有 22 萬人上街展現廢核的民間力量，要求直接停建核四，全台等數百個民間團體為此共同組成「全國廢核行動平台」，針對廢核行動進行全台串連、教育與動員，匯聚公民力量。 

    div.content-item
      div.label 最新消息
      p 全國廢核行動平台FB

    div.content-item
      div.label 聯絡我們
      p 採訪、索取新聞稿、合作邀請，請來信：nonukeactiontw@gmail.com
