section.section-front
  
  div.section-front--base
    img(src="../images/front_base.svg")

    span.hand.hand-top-left
      img(src="../images/hand_top_left.svg")
    span.hand.hand-top-right
      img(src="../images/hand_top_right.svg")
    span.hand.hand-bottom-left
      img(src="../images/hand_bottom_left.svg")
    span.hand.hand-bottom-right
      img(src="../images/hand_bottom_right.svg")

  div.section-front-title
    include ../images/front_title.svg
  div.section-front-title-bg
    include ../images/front_title_bg.svg

  div.section-front--bottom
    h1
      span.date-upright
        include ../images/front_date.svg
      span.title 
        span.vote-number
          include ../images/front_number.svg
        span.date-flat 8/28
        span.words 重啟核四公投<br/>請投不同意票
