doctype html
html
  head
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.less")
  body
    main
      include front.pug
      include questions.pug
      include reasons.pug
      include links.pug
      include knowledges.pug
      include footer.pug

      script(src="../js/main.js")

    include knowledges-modal.pug
