doctype html
html(lang="zh-Hant-TW")
  head
    title 分手吧！我們不核四｜17號核四公投不同意 
    meta(name="description", content="拒絕以核擋綠，邁向非核減煤！")

    meta(property="og:url", content="https://nonukeyesvote.tw")
    meta(property="og:type", content="article")
    meta(property="og:title", content="分手吧！我們不核四｜17號核四公投不同意")
    meta(property="og:description", content="拒絕以核擋綠，邁向非核減煤！")
    meta(property="og:image", content="../images/fb_banner.jpg")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.less")
  body
    main
      include section-front.pug
      include section-questions.pug
      include section-reasons.pug
      include section-links.pug
      include section-knowledges.pug
      include section-footer.pug

      script(src="../js/main.js")

    include section-knowledges-modal.pug
