doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css")

    link(rel="stylesheet", href="../css/style.less")
  body
    main
      include front.pug
      include questions.pug
      include reasons.pug
      include links.pug
      include knowledges.pug
      include footer.pug

      script(src="../js/main.js")

    include knowledges-modal.pug
