doctype html
html(lang="zh-Hant-TW")
  head
    title 分手吧！我們不核四｜17號核四公投不同意 
    meta(name="description", content="老舊、出包、沒蓋完，一起了解不為人知的核四真相。")
    <link rel="icon" type="image/svg" href="../images/favicon.svg">

    meta(property="og:url", content="https://nonukeyesvote.tw")
    meta(property="og:type", content="article")
    meta(property="og:title", content="分手吧！我們不核四｜17號核四公投不同意")
    meta(property="og:description", content="老舊、出包、沒蓋完，一起了解不為人知的核四真相")
    meta(property="og:image", content="../images/fb_banner.jpg")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.less")

    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PT9PNN6');

    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '539971733973321');
      fbq('track', 'PageView');

  body
    main
      include section-front.pug
      include section-questions.pug
      include section-reasons.pug
      include section-links.pug
      include section-knowledges.pug
      include section-footer.pug

      script(src="../js/main.js")

    include section-article-modal.pug
