doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.less")
  body
    include front.pug
    include questions.pug
    include reasons.pug
    include links.pug
    include knowledges.pug
    include footer.pug

    script(src="../js/main.js")
