section.section-links

  div.section-links--header
    header
      h1 反對重啟核四 <br> <small class="h2">請於8/28 投下<em>不同意票</em> 一起終結核四<small>

  h2.h2 我想參與行動！

  ul.section-links--list
    li.col-2
      a(href="https://google.com", target="_blank")
        span.link-inner
          img(src="../images/link_edm.svg")
          span 訂閱反核電子報
    li 
      a(href="https://google.com", target="_blank")
        span.link-inner
          img(src="../images/link_application.svg")
          span 申請活動
    li 
      a(href="https://google.com", target="_blank")
        span.link-inner
          img(src="../images/link_volunteer.svg")
          span 加入志工
    li 
      a(href="https://google.com", target="_blank")
        span.link-inner
          img(src="../images/link_advocate.svg")
          span 成為反核據點
    li 
      a(href="https://google.com", target="_blank")
        span.link-inner
          img(src="../images/link_download.svg")
          span 文宣下載

