section.section-links
  h1 反對重啟核四
  p 請於8/28 投下不同意票 一起終結核四

  h2 我想參與行動！

  ul
    li.col-2
      a 
        span.link-inner
          img(src="../images/link_edm.svg")
          span 訂閱反核電子報
    li 
      a 
        span.link-inner
          img(src="../images/link_application.svg")
          span 申請活動
    li 
      a 
        span.link-inner
          img(src="../images/link_volunteer.svg")
          span 加入志工
    li 
      a 
        span.link-inner
          img(src="../images/link_advocate.svg")
          span 成為反核據點
    li 
      a 
        span.link-inner
          img(src="../images/link_download.svg")
          span 文宣下載

