section.section-questions
  p.intro
    | 828，重啟核四即將公投，但...
    | 你真的了解核四嗎？<br />
    | 快來完成下面這個小測驗，<br />
    | 看看核四是否跟你想像中的一樣！


  div.question-box.shadow(data-answer="a3")
    p Q1.台灣位於地震帶，核四跟斷層的關係是？

    div.option-list
      label.button(for="q1-a1") 附近沒有斷層
        input(type="radio", name="q1", id="q1-a1", value="a1")
      label.button(for="q1-a2") 20公里外才有斷層
        input(type="radio", name="q1", id="q1-a2", value="a2")
      label.button(for="q1-a3") 斷層通過核四廠區下方
        input(type="radio", name="q1", id="q1-a3", value="a3")

    div.answer
      p.button 斷層通過核四廠區下方
      p 2013年中央地調所確認，核四廠區下方有長達2公里的S斷層通過。
