section.section-reasons
  div.header
    h1 為何不該重啟核四 <br />
      small 核四不該也不能重啟，因為...

  img.caption(src="../images/17sayno.svg")
  img.hero(src="../images/reasons_unfinish.png")

  div.splide.reason-slider
    div.splide__track
      ul.splide__list
        each item in knowledges
          li.splide__slide
            div.card
              h2 #{item.header}
              p #{item.detail}
