section.section-knowledges
  h2.h1 能源知識大補帖

  each item in knowledges
    div.section-knowledges--card
      div.section-knowledges--card-content
        h3.h2 #{item.heading}
        ul
          each summary in item.summary
            li 
              button.button-reset.small(type="button", data-micromodal-trigger=`${summary.articleId}`) 
                span #{summary.summary}
                img(src="../images/icon_plus.svg")
              

      div.img-container
        img(src=`${item.picture}`, width="1000", height="618", alt="")
