section.section-links

  div.section-links--header
    header
      h1.h1 反對續建核四
      p.h2 請於8/28 投下<em>不同意票</em> 一起終結核四

  h2.h2 我想參與行動！

  ul.section-links--list
    li.col-2
      a(href="https://google.com", target="_blank", rel="noopener")
        span.link-inner
          img(src="../images/link_edm.svg", width="102", height="102", alt="")
          span 訂閱反核電子報
    li 
      a(href="https://google.com", target="_blank", rel="noopener")
        span.link-inner
          img(src="../images/link_application.svg", width="102", height="102", alt="")
          span 申請活動
    li 
      a(href="https://google.com", target="_blank", rel="noopener")
        span.link-inner
          img(src="../images/link_volunteer.svg", width="102", height="102", alt="")
          span 加入志工
    li 
      a(href="https://google.com", target="_blank", rel="noopener")
        span.link-inner
          img(src="../images/link_advocate.svg", width="102", height="102", alt="")
          span 成為反核據點
    li 
      a(href="https://google.com", target="_blank", rel="noopener")
        span.link-inner
          img(src="../images/link_download.svg", width="102", height="102", alt="")
          span 文宣下載

