section.section-front
  div.section-front--base
    img.img-base(src="../images/front_base.svg", width="330", height="294", alt="")


    span.hand.hand-top-left
      img(src="../images/hand_top_left.svg", alt="")
    span.hand.hand-top-right
      img(src="../images/hand_top_right.svg", alt="")
    span.hand.hand-bottom-left
      img(src="../images/hand_bottom_left.svg", alt="")
    span.hand.hand-bottom-right
      img(src="../images/hand_bottom_right.svg", alt="")

  div.section-front-title
    include ../images/front_title.svg
  div.section-front-title-bg
    img(src="../images/front_title_bg.svg", width="330", height="294", alt="分手吧，我們不核四")

  div.section-front--bottom
    h1.h1
      span.date-upright
        img(src="../images/front_date.svg", alt="8/28", width="61", height="77")
      span.words 核四公投<br/>請投不同意票
        span.vote-number
          include ../images/front_number.svg

  a.section-front--platform-link(href="http://nonukeyesvote.tw/", target="_blank", rel="noopener") 全國廢核行動平台
