section#section-reasons.section-reasons
  div.header
    h2.h1 為何不該續建核四 <br />
      small.h2 因為...

  div.section-reasons--hero(data-hero-display="0")
    img.hero-base(src="../images/hero_base.svg", width="360", height="310", alt="")
    img.hero-base-overlay(data-hero-index="0", src="../images/hero_outline.svg", width="360", height="310", alt="")
    img.hero-base-overlay(data-hero-index="1", src="../images/hero_blackout.svg", width="360", height="310", alt="")
    img.hero-base-overlay(data-hero-index="2", src="../images/hero_outline_land.svg", width="360", height="310", alt="")
    img.hero-base-overlay(data-hero-index="3", src="../images/hero_waste.svg", width="360", height="310", alt="")
    img.hero-base-overlay(data-hero-index="4", src="../images/hero_money.svg", width="360", height="310", alt="")

  div.splide.section-reasons--slider
    div.splide__track
      ul.splide__list
        each item, index in reasons
          li.splide__slide
            div.card
              h3.h2 #{item.header}
              p !{item.detail}
