section.section-knowledges
  h1.h1 能源知識大補帖

  div.section-knowledges--card
    div.section-knowledges--card-content
      h2.h2 世界核能趨勢
      ul
        li 核電在全球發電佔比不斷下降
        li 全球反應爐興建工期屢次延宕
        li 核電成本持續上漲、投資金額卻不敵再生能源
        li 全球非水力再生能源發電超越核電

      div.button-container
        button.button-black.small(data-micromodal-trigger="modal-trend") 點我看更多

    div.img-container
      img(src="../images/knowledge_trend.jpeg", width="1000", height="618", alt="")

  div.section-knowledges--card
    div.section-knowledges--card-content
      h2.h2 缺電與空污
      ul
        li 核四7+N年內都不可能發電，更不可能減污減碳
        li 核四就算運轉，對減污減碳的貢獻也很低
        li 不要在爛蘋果中選一個，核四與燃煤都該被淘汰
        li 停電不是電廠蓋不夠，是調度管理出問題
        li 核四救不了停電，反而讓停電風險更高

      div.button-container
        button.button-black.small(data-micromodal-trigger="modal-pollution") 點我看更多

    div.img-container
      img(src="../images/knowledge_direction.jpeg", width="1000", height="618", alt="")
