section.section-knowledges
  h2.h1 能源知識大補帖

  each item in knowledges
    div.section-knowledges--card
      div.section-knowledges--card-content
        h3.h2 #{item.heading}
        ul
          each s in item.summary
            li #{s}
        div.button(type="button").container
          button(type="button").button-black.small(data-micromodal-trigger=`${item.modalId}`) 點我看更多

      div.img-container
        img(src=`${item.picture}`, width="1000", height="618", alt="")
