@import "./variables.less";

.section-questions {
  color: @c-white;
  background: @c-grey;
  padding: @spacing;
  font-weight: bold;
  display: flex;
  align-items: center;
  min-height: 90vh;

  .section-questions--content {
    max-width: @max-content-width;
    width: 100%;
    margin: 0 auto;
  }

  .intro {
    border: 1px solid @c-white;
    padding: @spacing;
    margin: 0 0 @spacing;
    text-align: center;
  }

  .card {
    background: white;
    color: @c-black;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 2 * @spacing @spacing;
  }

  .question-box {
    .option-list {
      label.button {
        margin-bottom: 1rem;

        input {
          display: none;
        }
      }
    }

    .answer-detail {
      display: none;
    }

    &.show-answer-detail {
      .question {
        display: none;
      }
    }
  }

  .btn-holder {
    display: flex;
    justify-content: flex-end;
  }
}
