footer {
  padding: @page-top-margin @page-side-margin;
  background: @c-yellow;
  display: flex;
  justify-content: center;

  .content {
    max-width: 700px;
    display: inline-grid;
    grid-template-columns: auto auto;
    row-gap: @spacing;
    align-items: start;
    column-gap: @spacing;
  }

  h2 {
    margin: 0;
    line-height: initial;
    margin: 0;
    white-space: nowrap;
  }

  a.fb-link {
    color: @color-font-black;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    img {
      margin-right: 5px;
    }
  }

  p {
    margin: 0;
    line-height: initial;
    overflow: hidden;
    white-space: pre-line;

    img {
      height: 1.5em;
      vertical-align: center;
    }
  }
}

@media (min-width: 1200px) {
  footer {
    .content {
      max-width: 1200px;
      margin: 0 auto;
      display: inline-grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: auto;
      column-gap: @spacing;
    }

    a.fb-link {
      align-items: flex-start;
      line-height: initial;
      overflow: hidden;
      white-space: pre-line;
    }
  }
}
