@import "./variables.less";

.section-knowledges {
  background: @c-yellow-light;
  padding: @page-top-margin @page-side-margin;

  ul {
    padding-left: 1em;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1em;
      cursor: pointer;

      button {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &:focus-visible {
          outline: 4px solid @c-grey;
        }

        span {
          pointer-events: none;
        }

        img {
          pointer-events: none;
          background: black;
          color: white;
          height: 20px;
          width: 20px;
          padding: 3px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 19px;
          letter-spacing: -1px;
        }
      }

      &:hover {
        color: @c-grey;
      }
    }
  }

  h2 {
    margin: 0;
    margin-bottom: @spacing;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin: 0 0 @spacing 0;
  }

  .section-knowledges--card {
    .card();
    margin-bottom: @spacing;
    background: @c-yellow;
    overflow: hidden;
    max-width: @max-mid-content-width;
    margin: @spacing auto;

    .section-knowledges--card-content {
      padding: @spacing;
    }

    .img-container {
      img {
        display: block;
        height: auto;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media @desktop {
  .section-knowledges {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-knowledges--card {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 900px;

      .section-knowledges--card-content {
        width: 50%;
        padding: 1.5 * @spacing 2 * @spacing;
      }

      .img-container {
        width: 50%;

        img {
          object-fit: cover;
          min-height: 100%;
        }
      }

      h3 {
        .h2();
        text-align: left;
      }
    }

    .button-container {
      margin-top: 1.5 * @spacing;
    }
  }
}
