@z-index-title: 10;
@z-index-hand: 20;
@z-index-base: 30;

.section-front {
  background: #f9f7ef;
  height: 100vh;
  position: relative;

  img {
    display: block;
  }
}

.section-front--header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: @z-index-title;

  svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #letter-1 {
    animation: 1s steps(2, end) 0s infinite moving-letter-1;
  }
  #letter-2 {
    animation: 1s steps(2, end) 0s infinite moving-letter-2;
  }
  #letter-3 {
    animation: 1s steps(2, end) 0s infinite moving-letter-3;
  }
  #letter-4 {
    animation: 1s steps(2, end) 0s infinite moving-letter-4;
  }
}

@keyframes moving-letter-1 {
  to {
    transform: scale(1.05, 1.02);
    transform-origin: center;
    transform-box: fill-box;
  }
}

@keyframes moving-letter-2 {
  to {
    transform: rotate(5deg) scale(1.05, 1.02);
    transform-origin: center;
    transform-box: fill-box;
  }
}

@keyframes moving-letter-3 {
  to {
    transform: rotate(-4deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}

@keyframes moving-letter-4 {
  to {
    transform: rotate(-15deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}

.section-front--base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100vw;
  z-index: @z-index-hand;

  .hand {
    position: absolute;
    display: block;
    width: 40%;
    animation: 2s steps(4, end) 0s infinite null;
    z-index: @z-index-hand;

    svg {
      width: 100%;
    }
  }
  .hand-top-left {
    top: 10px;
    left: 0;
    animation-name: moving-hand-top-left;
  }

  .hand-top-right {
    top: 0;
    right: 0;
    animation-name: moving-hand-top-right;
  }

  .hand-bottom-left {
    bottom: 0;
    left: 0;
    animation-name: moving-hand-bottom-left;
  }

  .hand-bottom-right {
    bottom: 0;
    right: 0;
    animation-name: moving-hand-bottom-right;
  }
}

@keyframes moving-hand-top-left {
  0% {
    transform: translate(-10px, -10px) rotate(10deg);
  }

  to {
    transform: translate(30px, 30px) rotate(40deg);
    transform-origin: center;
    /*transform-box: fill-box;*/
  }
}

@keyframes moving-hand-bottom-left {
  0% {
    transform: translate(-20px, 100px);
  }

  to {
    transform: translate(20px, 20px) rotate(20deg);
    transform-origin: center;
  }
}

@keyframes moving-hand-top-right {
  0% {
    transform: translate(0px, -80px);
  }

  to {
    transform: translate(-60px, 10px) rotate(-20deg);
  }
}

@keyframes moving-hand-bottom-right {
  0% {
    transform: translate(0px, 80px);
  }

  to {
    transform: translate(-40px, 0) rotate(-20deg);
  }
}

.section-front--bottom {
  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    width: 100px;
  }

  h1 {
    display: flex;
    align-items: stretch;

    .date {
      color: @c-grey;
    }
  }
}

@media @desktop {
  .section-front {
    padding: @spacing;
  }

  .section-front--header {
    top: @spacing;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
  }

  .section-front--base {
    position: absolute;
    top: 50%;
    left: initial;
    right: @spacing;
    transform: translate(0, -40%);
    width: 60vw;

    .hand-top-left {
      display: none;
    }
  }

  .section-front--bottom {
    position: absolute;
    bottom: @spacing;
    left: @spacing;
    right: initial;

    h1 {
      font-size: 50px;
    }
  }
}
