@import "./normalize.less";

@c-grey: #757575;
@c-white: #ffffff;
@c-black: #000000;
@c-yellow: #FFE500;
@spacing: 25px;

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}

body {
  margin: 0;
}

p {
  line-height: 1.5em;
}

* {
  --tw-shadow: 0 0 transparent;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.round {

}

.section-front {
  background: #F9F7EF;

  img {
    display: block;
    height: 100vh;
    margin: 0 auto;
  }
}

.section-questions {
  color: @c-white;
  background: @c-grey;
  padding: @spacing;

  .intro {
    border: 1px solid @c-white;
    padding: @spacing;
    margin: 0 0 @spacing;
  }

  .question-box {
    padding: 2 * @spacing @spacing;
    background: white;
    color: @c-black;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
  }

  .answer-list {
    label {
      display: block;
      text-align: center;
      padding: 0.5rem 0;
      background: @c-yellow;
      color: @c-black;
      border-radius: 25px;
      margin-bottom: 1rem;

      .shadow();

      input {
        display: none;
      }
    }
  }
}
