section.section-reasons
  div.header
    h1 為何不該重啟核四 <br />
      small 核四不該也不能重啟，因為...

  img.caption(src="./images/17sayno.svg")
  img.hero(src="./images/reasons_unfinish.png")

  div.card
    h2 核四不能用！
    p 核四根本沒蓋好（核四底圖出現沒蓋好的樣子）：安全驗證未完成、2號機施工未完成，還需面對需重作環評、零件停產、原專案團隊解散的問題，最少需7+N年後才能使用。
